@import 'variables';

@import '~bootstrap/scss/bootstrap';

/* ======= Base ======= */
body {
  font-family: 'Roboto', sans-serif;
  color: #666;
  background: #f5f5f5;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #444;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
}

a {
  transition: all 0.4s ease-in-out;
}

a:focus {
  text-decoration: none;
}

.blog-article-next small {
  color: $brand-primary !important;
}

.back-to-home {
  color: $brand-primary;
  display: inline-block;
  text-align: center;
  width: 32px;
  height: 32px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  padding-top: 2px;
  font-size: 16px;
  border: 2px solid $brand-primary;
  margin: 0 5px;

  position: fixed;
  left: 16px;
  bottom: 16px;
}

img {
  max-width: 100%;
}
